<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
     <div class="container" id="restful-sheets">
     <!-- Start Loading Spinner -->
     <div v-if="existingSheets.length === 0">
     Loading your tables...
       <div class="progress">
         <div class="indeterminate"></div>
       </div>
     </div>
     <!-- End Loading Spinner -->
     <!--Start Home Panel -->
       <div class="row" v-if="selectedPanel === 'home'">
         <div class="col s12">
         <!-- Modal Trigger -->
         <button class="waves-effect waves-light btn modal-trigger" @click="routeToAddTable()"><i class="material-icons left">add</i>Add Table</button>
         <div>
           <div class="card-panel" v-for="sheet in existingSheets">
             <div class="card-content">
               <div class="card-title">
                 {{sheet}}
               </div>
               <p>Here is some info about the table</p>
               <div class="card-action">
                 <a class="waves-effect waves-teal btn-flat btn-small" @click="routeToEditTable(sheet)"><i class="material-icons left">edit</i>Edit</a>
                 <a class="waves-effect waves-teal btn-flat btn-small" @click="routeToDeleteTable(sheet)"><i class="material-icons left">delete</i>Delete</a>
               </div>
             </div>
           </div>
         </div>
         <p>Available at: <?= getPublicURL() ?></p>
         </div>
       </div>
      <!--End Home Panel -->
      <!--Start Add Panel -->
       <div class="row" v-if="selectedPanel === 'add'">
         <div>
         <h5>Add Table</h5>
         <div class="input-field">
          <input id="table_name" v-model="newTable.name" type="text" class="validate">
          <label for="table_name">Table Name</label>
        </div>
        <p>All objects will be given a column labeled "ID" that will be automatically populated with a GUID on creation.</p>
        <button class="waves-effect waves-light btn-small" @click="addColumnToNewTable()"><i class="material-icons left">add</i>Add Column</button>
        <ul class="collection">
          <li class="collection-item avatar" v-for="(column, index) in newTable.columns">
              
              <i class="material-icons circle" v-if="column.state === 'saved'">#</i>
              <div>
                <label v-if="column.state === 'editing'">Column Type</label>
                <select class="browser-default" v-model="column.type" v-if="column.state === 'editing'">
                  <option value="String">String</option>
                  <option value="Integer">Integer</option>
                  <option value="Float">Float</option>
                  <option value="Datetime">Datetime</option>
                </select>
                <span class="title" v-if="column.state === 'saved'">Type: {{column.type}}</span>
              </div>
              
              <span class="title" v-if="column.state === 'saved'">Name: {{column.name}}</span>
              <div class="input-field col s12" v-if="column.state === 'editing'">
                <input :id="column + index" type="text" v-model="column.name" class="validate">
                <label :for="column + index">Column Name</label>
              </div>
              
              <a class="waves-effect waves-teal btn-flat" v-if="column.state === 'saved' " @click="column.state = 'editing'"><i class="material-icons left">edit</i></a>
              <a class="waves-effect waves-teal btn-flat" v-if="column.state === 'editing' " @click="column.state = 'saved' "><i class="material-icons left">save</i></a>
          </li>
        </ul>
        
        <hr>
        <button class="waves-effect waves-light btn" @click="addTable()"><i class="material-icons left">add</i>Add Table</button>
         <a class="waves-effect waves-teal btn-flat" @click="routeToHomePanel()"><i class="material-icons left">cancel</i>Cancel</a>
       </div>
       </div>
      <!--End Edit Panel -->
      
      <!--Start Edit Panel -->
       <div class="row" v-if="selectedPanel === 'edit'">
        <div class="col s12">
         <h5>Edit Table</h5>
         {{selectedSheet}}
         <a class="waves-effect waves-teal btn-flat" @click="routeToHomePanel()"><i class="material-icons left">cancel</i>Cancel</a>
         </div>
       </div>
      <!--End Edit Panel -->
      
      <!--Start Delete Panel -->
       <div class="row" v-if="selectedPanel === 'delete'">
         <div class="col s12">
         <h5>Delete Table</h5>
          <p>Are you sure you want to delete {{selectedSheet}}? Once you do this, the sheet and all of its data will be gone forever.</p>
          <button class="waves-effect waves-light btn red darken-1" @click="deleteTable(selectedSheet)"><i class="material-icons left">delete</i>Delete Table</button>
          <a class="waves-effect waves-teal btn-flat" @click="routeToHomePanel()"><i class="material-icons left">cancel</i>Cancel</a>
         </div>
       </div>
      <!--End Delete Panel -->
     
     
     </div>
     <!--End container -->

    <script type="text/javascript">
     const restfulSheets = new Vue({
       el: '#restful-sheets',
       data: {
        newTable: {
          name: '',
          columns: []
        },
        existingDataModel: null,
        existingSheets: [],
        selectedPanel: 'home',
        selectedSheet: ''
       },
       methods: {
        addColumnToNewTable: function () {
          let newColumn = {
            name: '',
            type: '',
            state: 'editing'
           }
           this.newTable.columns.push(newColumn)
        },
        addTable: function () {
          google.script.run.withSuccessHandler(this.onSuccess).addTableToSpreadsheet(this.newTable)
        },
        deleteTable: function (sheet) {
          google.script.run.withSuccessHandler(this.onSuccess).deleteTable(sheet)
        },
        loadExistingDataModel: function (data) {
          console.log(data)
          this.existingDataModel = data
        },
        getAllTablesSuccess: function (data) {
          this.existingSheets = data
        },
        routeToHomePanel: function () {
          this.selectedPanel = 'home'
          google.script.run.withSuccessHandler(this.getAllTablesSuccess).getAllTables()
        },
        routeToAddTable: function () {
          this.selectedPanel = 'add'
        },
        routeToEditTable: function (sheet) {
          this.selectedPanel = 'edit'
          this.selectedSheet = sheet
          google.script.run.setActiveTable(sheet)
        },
        routeToDeleteTable: function (sheet) {
          this.selectedPanel = 'delete'
          this.selectedSheet = sheet
          google.script.run.setActiveTable(sheet)
        },
        onSuccess: function (data) {
         this.routeToHomePanel()
         M.toast({html: data})
        }
       },
       computed: {
       },
       created: function () {
         google.script.run.withSuccessHandler(this.getAllTablesSuccess).getAllTables()
         google.script.run.withSuccessHandler(this.loadExistingDataModel).getProperties()
       }
     })
    </script>
  
  </body>
</html>


