     <!--Start Home Panel -->
     <div class="row" v-if="selectedPanel === 'home'">
      <div class="col s12">
      <!-- Modal Trigger -->
      <button class="waves-effect waves-light btn modal-trigger" @click="routeToAddTable()"><i class="material-icons left">add</i>Add Table</button>
      <div>
        <div class="card-panel" v-for="sheet in existingSheets">
          <div class="card-content">
            <div class="card-title">
              {{sheet}}
            </div>
            <p>Here is some info about the table</p>
            <div class="card-action">
              <a class="waves-effect waves-teal btn-flat btn-small" @click="routeToEditTable(sheet)"><i class="material-icons left">edit</i>Edit</a>
              <a class="waves-effect waves-teal btn-flat btn-small" @click="routeToDeleteTable(sheet)"><i class="material-icons left">delete</i>Delete</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>